* {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.logo {
    cursor: pointer;
    font-size: 20px;
}

.nav ul {
    list-style: none;
    list-style-type: none;
}

.nav a {
    color: black;
    font-size: 20px;
    text-decoration-line: none;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.nav a:hover {
    background-color: #000000;
    color: rgb(189, 214, 214);
}

a {
    text-decoration-line: none;
    color: #000000;
}

.border {
    border-bottom: 2px solid black;
}

main {
    background-color: rgb(189, 214, 214);
}

.main-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.alltecs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    word-wrap: break-word;
}

.tecs {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.tecs-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    font-size: 20px;
}

@media screen and (max-width: 690px) {

    .main-main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        word-wrap: break-word;
        word-break: normal;
    }

    .alltecs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tecs-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        word-wrap: break-word;
        word-break: normal;
    }

    .tecs {
        margin: 30px;
        width: 275px;
    }

    .projects-imgs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

.space1-tecs {
    background-color: #dac0b5;
    width: 100px;
    height: 100px;
    border-radius: 256px;
    margin: 30px;
}

.space1-tecs:hover {
    box-shadow: 0px 5px 33px 4px #aa9696;
    padding:  5px 0 0 0;
}

.space1-tecs img {
    margin: 10px;
    width: 80px;
    height: 80px;
}
.space2-tecs {
    background-color: #dac0b5;
    width: 100px;
    height: 100px;
    border-radius: 256px;
    margin: 30px;
}

.space2-tecs:hover {
    box-shadow: 0px 5px 33px 4px #aa9696;
    padding:  5px 0 0 0;
}

.space2-tecs img {
    margin: 10px;
    width: 80px;
    height: 80px;
}

.space3-tecs {
    background-color: #dac0b5;
    width: 100px;
    height: 100px;
    border-radius: 256px;
    margin: 30px;
}

.space3-tecs:hover {
    box-shadow: 0px 5px 33px 4px #aa9696;
    padding:  5px 0 0 0;
}

.space3-tecs img {
    border-radius: 30px;
    margin: 10px;
    width: 80px;
    height: 80px;
}

.projects {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 25px;
}

.projects-imgs {
    display: flex;
    justify-content: center;
}

.projects-imgs img {
    cursor: pointer;
    width: 300px;
    height: 200px;
    margin: 50px;
    margin-bottom: 75px;
    box-shadow: 5px 5px 18px 5px #9f9595;
}
@media screen and (min-width: 700px) {
    .projects-imgs img:hover {
        margin: 0;
        padding: 0;
        width: 400px;
        height: 300px;
        border-radius: 10px;
    }
    
}

.footer-flex {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.place-imgs {
    display: flex;
    
}

.space1-social {
    width: 100px;
    height: 100px;
    border-radius: 256px;
    margin: 30px;
    background-color: white;
}

.space1-social img {
    width: 80px;
    margin: 10px;
}

.space2-social {
    width: 100px;
    height: 100px;
    border-radius: 256px;
    margin: 30px;
    background-color: white;
}

.space2-social img {
    width: 70px;
    margin: 15px;
}

.space3-social{
    width: 100px;
    height: 100px;
    border-radius: 256px;
    margin: 30px;
    background-color: white;
}

.space3-social img {
    width: 70px;
    margin: 15px;
}